
#titleContainer {
  padding-block-start: 10%;
  border-radius: 30px;
  margin-inline: 6%;
}

#buttonContainer {
  padding-block-end: 10%;
  border-radius: 30px;
  margin-inline: 6%;
}

.footer-initial {
  font-size: 1rem;
  color: #000000!important;
}

.bottom-text {
  font-family: 'IQOS' !important;
  margin: 0px 15%;
  font-size: 1.5rem;
  margin: 0.2em;
}

#initial-screen {
  background: linear-gradient(180deg, rgba(41, 38, 48, 1) 0%, rgb(255 255 255 / 0%) 45%, rgb(255 255 255 / 0%) 100%);
  background-size: 100% 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
}


#initial-screen {
  height: 100%;
  width: 100%;
}



.logo {
	object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
	margin-top: unset;
}

.bg-image {
	background-image: url("/videoengager/img/ve.svg");
	backdrop-filter: blur(20px);
  	height: 100%;
  	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.button2 {
  width: 50%;
  margin: 0 auto;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(0, 0, 0);
  background-color: #41cacd;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: 'IQOS';
  min-width: fit-content;
  -webkit-font-smoothing: auto;
}
  
.button2:hover {
	background-color: #41cacd
}
  
.button2:active {
	background-color: rgb(64, 187, 189);
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.header {
	position: fixed;
    top: 25%;
    width: 50%;
    left: 25%;
    color: white;
}

.header-css {
  background: rgb(41, 38, 48) !important;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  padding: 10px;
  padding-bottom: 20px;
  height: 50px;
  justify-content: center;
  z-index: 502;
}

#videoengageriframe{
	background: rgb(150, 150, 150);
}


.loader1,
.loader1:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader1 {
  margin: 0px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.loader2,
.loader2:before,
.loader2:after {
  border-radius: 50%;
  width: 2.5vh;
  height: 2.5vh;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader2 {
  color: #ffffff;
  font-size: 1.5vh;
  margin: 9vh auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader2:before,
.loader2:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader2:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader2:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/* font */
@font-face {
  font-family: IQOS;
  font-weight: normal;
  src: url("./font/IQOS-Regular.otf") format("opentype");
}

@font-face {
  font-family: IQOS;
  font-weight: bold;
  src: url("./font/IQOS-Bold.otf") format("opentype");
}

@font-face {
  font-family: IQOS;
  font-weight: lighter;
  src: url("./font/IQOS-Light.otf") format("opentype");
}

.navbar{
  box-shadow: 0px 0px 15px 15px #26242c;
  background: #26242c;
  height: 60px;
}

.navbar-toggler-icon {
  width: 50px;
  height: 50;
  margin: auto;
  z-index: 9;
}

.text-muted {
  color: #000000!important;
  display: flow-root;
  text-transform: uppercase;
  font-family: 'IQOS';
}

#footerPreCall {
  background: white;
}

#footerPreCall, #footerOnCall {
  height: 50px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0px;
  display: flex;
  z-index: 502;
}

#footerPreCall div, #footerOnCall div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-text-addition{
  color: #6bdbe0; 
  display: contents; 
}

.secondery-text {
  color: #fafafa;
  font-family: 'IQOS';
  font-weight: normal;
}

.bottom-text {
  color: #000000;
  font-family: 'IQOS';
  font-weight: normal;
  margin-bottom: 25px;
  -webkit-font-smoothing: auto;
}

@media only screen and (min-width : 670px) {
  .header-text {
    padding-inline: 40px;
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  .secondery-text {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: normal;
    line-height: 1.2;
    color: inherit;
    -webkit-font-smoothing: auto;
  }

  .callButtonContainer{
    margin-inline: 5%;
  }  
}


@media only screen and (min-height : 1000px) {
  .header-text{
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .secondery-text{
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
    font-family: IQOS;
    font-weight: normal;
    line-height: 1.2;
    color: inherit;
  }
  .callButtonContainer{
    margin-inline: 15%;
  }  
}


@media only screen and (max-height : 1000px) {
  .header-text{
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .secondery-text{
    font-size: 1.5 rem;
    margin-bottom: 0.5rem;
    font-family: IQOS;
    font-weight: normal;
    line-height: 1.2;
    color: inherit;
  }
  .callButtonContainer{
    margin-inline: 5%;
  }
}

#padding-bottom{
  padding-bottom: 0px;
}

.lang_flag {
  height: 30px;
  width: 30px;
  display: none;
}

#lang {
  float: right;
  position: absolute;
  right: 15px;
  top: 15px;
}

#closeVideoButton {
  bottom: 100px;
  height: 75px;
  position: relative;
  left: calc(50% - 37px);
  top: 70%;
}

.callButtonContainer {
  background-color: white;
  padding: 20px;
  border-radius: 45px;
}
.container-body {
  touch-action: pan-x pan-y;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  max-height: 100vh;
  padding-bottom: 50px;
  padding-top: 50px;
  background: royalblue;
}

#closeVideoButtonHolder {
  z-index: 499;
  position: absolute;
    width: 100%;
    height: 100%;
}

.loader1 {
  height: 25vh;
  width: 25vh;
  top: 20%;
  position: absolute;
  z-index: 4000;
  left: calc(50% - 12.5vh);
  transform: translate(-50%, -50%);
}

.loader2 {
  position: absolute; 
  left: 50%;
  transform: translate(-50%, -50%);
  top: 20%;
}

#loadingText {
  position: absolute; 
  color: white; 
  font-size: 4vw; 
  width: 100%; 
  text-align: center;
  top: 45vh;
}

#StartVideoCall{
  cursor:pointer;
}

.footer-initial{
  color: #000000!important;
}

#footerOnCall{
  display:none;
  background: #26242c;
  text-align: center;
}

.footer-oncall {
  color: #c2c2c2!important;
}

.header-text{
  color: #efefef;
  font-family: IQOS;
  font-weight: bold;
  max-width: 80%;
  margin: auto;
}

.secondery-text {
  color: #fafafa;
  font-family: 'IQOS';
  font-weight: normal;
}

#oncall-screen, #myVideoHolder {
  width: 100%;
  height: 100%;
}

.container {
  height: 100%;
}

@media only screen and (max-height : 600px) {
  .text-center {
    padding-block: 5px;
  }
  .bottom-text {
    font-size: 1rem;
  }
  .button2 {
    font-size: 1rem;
    padding: 10px 20px;
  }
  .callButtonContainer {
    background-color: white;
    padding: 10px;
    border-radius: 45px;
    padding: 10px 20px;
  }
  .header-text {
    font-size: 2rem;
  }
  .secondery-text {
    font-size: 1.5rem;
  }
  .container {
    font-size: 0.7rem;
  }
  p {
    margin-bottom: 0.5rem;
  }
}



@media only screen and (max-width : 400px) {
  .callButtonContainer {
    background-color: white;
    padding: 10px;
    border-radius: 45px;
  }
  .header-text {
    font-size: 2rem;
    max-width: 70%;
  }
  .secondery-text {
    font-size: 1.5rem;
  }
  .container {
    font-size: 0.7rem;
  }
  p {
    margin-bottom: 0.5rem;
  }
}

@media only screen and (max-width : 300px) {
  .callButtonContainer {
    background-color: white;
    border-radius: 45px;
    padding: 5px;
  }
  .header-text {
    font-size: 1.5rem;
  }
  .secondery-text {
    font-size: 1rem;
  }
  .container {
    font-size: 0.5rem;
  }
  p {
    margin-bottom: 0.25rem;
  }
}

@media only screen and (max-height : 420px) {
  #titleContainer {
    padding-block-start: 1%;
  }
  
  #buttonContainer {
    padding-block-end: 1%;
  }

  .header-text {
    max-width: 100%;
  }
}

@media only screen and (max-height : 300px) {
  #titleContainer {
    padding-block-start: 0;
  }
  
  #buttonContainer {
    padding-block-end: 0;
  }

  .bottom-text {
    margin: 5px;
  }
}

#modalTitle {
  font-size: 3rem;
  color: white;
}


.modal-content-custom {
  width:60vw !important;
  min-height:50vh !important;
  height: max-content !important;
  border-radius: 17px !important;
  display: flex !important;
  flex-direction: column;
  overflow: hidden;
  border: 0px !important;
  background-color: white;
}
@media screen and (max-width: 550px) {
  #modalTitle {
    font-size: 2rem  !important;
  }
  .modal-body {
  font-size: 1rem !important;
}
.modal-content-custom {
    width:90vw !important;
  min-height:60vh !important;
   height: max-content !important;
}
}
.modal-header {
  width: 100%;
    padding-top:20px;
  /* height:45% !important; */
  flex:2 1 !important;
      transition: all 0.3s ease-in-out;
 background-color: rgb(229 115 115);
}

.modal-body {
  width: 100%;
   flex:1 !important;
  font-size: 2rem;
}
.modal-footer-custom {
  width: 100%;
  flex:1 !important;
    display: flex ;
}
.modal-body, .modal-header {
    display: flex !important;
}

.modal-body, .modal-header,.modal-footer-custom {
  text-align: center !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 10px;
  border: 0px !important;
}
.error-button {
      width: 45%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    height: 57px;
    border: 0px;
    border-radius: 439px;
    background-color: rgb(229 115 115);
    color:white;
}
.error-button:hover,.modal-header:hover {
  background-color: rgb(182, 56, 56);
}

#error-text {
  color: white;
  font-size: 2rem;
}
.modal-custom {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#carousel {
  background: #33303D;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 50px;
  z-index: 500;
  position: fixed;
}

.active {
  height: 100%;
  width: 100%;
}

.carousel-item {
  height: 100%;
  width: 100%;
}

.carousel-inner {
  height: 100%;
  width: 100%;
}
